<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">The Wandering Pharmacist</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">The Wandering Pharmacist</li>
          <li><a class="u-email" href="mailto:pharmadev@proton.me">pharmadev@proton.me</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>My personal website</p>
      </div>
    </div>

  </div>

</footer>