<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body>
    {% include header.html %}
<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
{{content}}
{% for post in site.posts %}
    <ul class="post-list"><li><span class="post-meta">Oct 2, 2022</span>
        <h3>
          <a class="post-link" href="{{post.url}}">
            {{post.title}}
          </a>
        </h3></li></ul>
        {% endfor %}

      </div>
    </main>
    {% include footer.html %}
</body>

</html>
