---
layout: page
---
<div style="overflow-x:auto;">

<table class="table-page">
    <thead>
    
        <tr class="header">
            <th>Year</th>
            <th>CNN</th>
            <th>Developer</th>
            <th>Error rates</th>
            <th>Number of parameter</th>
        </tr>
    </thead>
    {%- for values in site.data.cnn -%}
    <tbody>
        <tr>
          <td>{{ values.year }}</td>
          <td>{{ values.cnn }}</td>
          <td>{{ values.developer }}</td>
          <td>{{ values.error_rates }}</td>
          <td>{{ values.parameters }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>